.header {
    width: 100%;   
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headTitle {
    color: #363636;
    font-size: 16px;
}
.serachInput {
    font-size: 18px;
    padding: 7px 9px;
    border: none;
    border-radius: 3px;
}
.searchPart {
    position: relative;
}
.searchIcon {
    position: absolute;
    right: 4px;
    top: 4px;
    outline:none;
}


@media screen and (max-width: 878px) {
    .header {
        display: flex;
        flex-direction: column;
        &> h1 {
            font-size: 18px;
            margin-bottom: 14px;
        }
    }

    
}